#navbar-wrapper
    nav.uk-navbar.uk-navbar-container.uk-navbar-transparent.uk-margin-medium
        .uk-navbar-left
            router-link.uk-navbar-item.uk-logo(to='/')
                a.uk-navbar-item.uk-logo.uk-margin-xlarge-left Reposilite
        .uk-navbar-right
            //User bar
            img.avatar(:src="userAvatar")
            p.username {{ username }}
            span.uk-margin-xlarge-right(uk-icon="icon: chevron-down")
            div(uk-dropdown='animation: uk-animation-slide-top-small; duration: 200; pos: bottom-justify')
                ul.uk-nav.uk-dropdown-nav
                    li
                        router-link(to='#') Your profile
                    li
                        router-link(to='#') Your repositories
                    li
                        router-link(to='#') Item
                    li.uk-nav-divider
                    li
                        router-link(to='#') Settings
                    li
                        router-link(to='#') Logout