@import url('https://fonts.googleapis.com/css?family=Titillium+Web')

#error-wrapper
    height 100vh
    background-color #f7f7f7

p
    color #cacaca
    font-family 'Titillium Web', sans-serif
    font-weight bold
    font-size 50px

h2
    color #cacaca
    font-size 20px