#home-wrapper
    .uk-position-large.uk-position-center-left.uk-padding-large
        h1 Reposilite
        h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        br
        button(href="#" class="github-button uk-box-shadow-large") Sign in using Github

    Search