@import url('https://fonts.googleapis.com/css?family=Titillium+Web')

.uk-navbar
    height 60px
    background-color white
    -webkit-box-shadow 0px 0px 71px -8px rgba(0,0,0,0.23)
    -moz-box-shadow 0px 0px 71px -8px rgba(0,0,0,0.23)
    box-shadow 0px 0px 71px -8px rgba(0,0,0,0.23)
    font-family 'Titillium Web', sans-serif

.uk-logo
    font-size 17px

.username
    font-weight bold
    color black
    margin 10px

.avatar
    height 20px
    width 20px
    border-radius 3px