#dashboard-wrapper
    router-view

    Navbar

    .uk-flex.uk-flex-center
        .uk-grid
            .uk-width-expand
                .uk-card.uk-card-default.uk-card-body container
            .uk-width-1-3
                .uk-card.uk-card-default.uk-card-body sidebar