@import url('https://fonts.googleapis.com/css?family=Titillium+Web')

dark-overlay()
    &:after
        content ""
        width 100%
        height auto
        position absolute
        z-index -1
        top 0
        right 0
        left 0
        bottom 0

#autosuggest
    position relative

#autosuggest__input
    background-color #f2f2f2
    outline none
    border none
    position relative
    display block
    padding 10px
    width 380px
    font-size 14px
    font-family 'Titillium Web', sans-serif
    border-radius 4px

    &.autosuggest__input-open
        border-radius 4px 4px 0 0

.autosuggest__results-container
    font-size 14px
    font-family 'Titillium Web', sans-serif
    position absolute
    top 100%
    width 100%
    overflow hidden
    border-radius 0 0 4px 4px

    ::-webkit-scrollbar
        display none
    ::-webkit-scrollbar-track-piece
        background-color: transparent
        -webkit-border-radius: 6px

.autosuggest__results
    margin 0
    z-index 10000001
    width 100%
    border 1px solid #e0e0e0
    background white
    padding 0px
    max-height 400px

    ul
        list-style none
        padding-left 0
        margin 0

.autosuggest__results_item
    cursor pointer
    padding 15px

.autosuggest__results_title
    color gray
    font-size 11px
    margin-left 0
    padding 15px 13px 5px
    border-top 1px solid lightgray


.autosuggest__results_item:active,
.autosuggest__results_item:hover,
.autosuggest__results_item:focus,
.autosuggest__results_item.autosuggest__results_item-highlighted
    background-color #f7f7f7

.search-overlay
    background-size cover
    background-image url("../../assets/bg.jpg")
    height 100%
    width 40%
    z-index 1
    dark-overlay()
    &:after
        background-color rgba(0, 0, 0, 0.5)