#search-wrapper
    .uk-position-center-right.search-overlay
        .uk-position-center
            vue-autosuggest(:suggestions="filteredOptions" :render-suggestion="renderSuggestion" :get-suggestion-value="getSuggestionValue" :input-props="inputProps")